.service__group {
    display: flex;
    flex-wrap: wrap;
}

.service__layer {
    align-items: center;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.service__layer .content__subtitle {
    border-bottom: 0.4rem solid #2e2e2e;
    font-size: 2rem;
}

.service__layer .content__text {
    font-size: 1rem;
}

.service__group img {
    width: 30%;
}