.service__group {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

.service__special {
    align-items: center;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.service__special img {
    border: 0.5rem solid #2e2e2e;
}

.service__layer {
    align-items: center;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 30%;
}

.service__layer .content__subtitle {
    border-bottom: 0.4rem solid #2e2e2e;
    font-size: 2rem;
}

.service__layer .content__text {
    font-size: 1rem;
    color: #948b8b;
}

.service__layer img {
    width: 30%;
}

@media screen and (max-width: 1023px) {
    .service__layer {
        width: 40%;
    }
}

@media screen and (max-width: 723px) {
    .service__layer {
        width: 100%;
    }
}

@media screen and (max-width: 487px) {
    .service__special img {
        width: 100%;
    }
}